function Main.main 0
<parameterList>
</parameterList>
<subroutineBody>
<varDec>
<identifier>
<category> CLASS </category>
<name> Array </name> 
 </identifier>
<identifier>
<category> VAR </category>
<defined> defined </defined>
<kind> VAR </kind>
<index> 0 </index>
<name> a </name> 
 </identifier>
</varDec>
<varDec>
<identifier>
<category> VAR </category>
<defined> defined </defined>
<kind> VAR </kind>
<index> 1 </index>
<name> length </name> 
 </identifier>
</varDec>
<varDec>
<identifier>
<category> VAR </category>
<defined> defined </defined>
<kind> VAR </kind>
<index> 2 </index>
<name> i </name> 
 </identifier>
<identifier>
<category> VAR </category>
<defined> defined </defined>
<kind> VAR </kind>
<index> 3 </index>
<name> sum </name> 
 </identifier>
</varDec>
<statements>
<letStatement>
<identifier>
<category> VAR </category>
<defined> used </defined>
<kind> VAR </kind>
<index> 1 </index>
<name> length </name> 
 </identifier>
<expression>
<term>
<identifier>
<category> CLASS </category>
<name> Keyboard </name> 
</identifier>
<symbol> . </symbol>
<identifier>
<category> SUBROUTINE </category>
<name> readInt </name> 
 </identifier>
<expressionList>
<expression>
<term>
<stringConstant> HOW MANY NUMBERS?  </stringConstant>
</term>
</expression>
</expressionList>
</term>
</expression>
</letStatement>
<letStatement>
<identifier>
<category> VAR </category>
<defined> used </defined>
<kind> VAR </kind>
<index> 0 </index>
<name> a </name> 
 </identifier>
<expression>
<term>
<identifier>
<category> CLASS </category>
<name> Array </name> 
</identifier>
<symbol> . </symbol>
<identifier>
<category> SUBROUTINE </category>
<name> new </name> 
 </identifier>
<expressionList>
<expression>
<term>
<identifier>
<category> VAR </category>
<defined> used </defined>
<kind> VAR </kind>
<index> 1 </index>
<name> length </name> 
</identifier>
</term>
</expression>
</expressionList>
</term>
</expression>
</letStatement>
<letStatement>
<identifier>
<category> VAR </category>
<defined> used </defined>
<kind> VAR </kind>
<index> 2 </index>
<name> i </name> 
 </identifier>
<expression>
<term>
<integerConstant> 0 </integerConstant>
</term>
</expression>
</letStatement>
<whileStatement>
<expression>
<term>
<identifier>
<category> VAR </category>
<defined> used </defined>
<kind> VAR </kind>
<index> 2 </index>
<name> i </name> 
</identifier>
</term>
<term>
<identifier>
<category> VAR </category>
<defined> used </defined>
<kind> VAR </kind>
<index> 1 </index>
<name> length </name> 
</identifier>
</term>
</expression>
<statements>
<letStatement>
<identifier>
<category> VAR </category>
<defined> used </defined>
<kind> VAR </kind>
<index> 0 </index>
<name> a </name> 
 </identifier>
<expression>
<term>
<identifier>
<category> VAR </category>
<defined> used </defined>
<kind> VAR </kind>
<index> 2 </index>
<name> i </name> 
</identifier>
</term>
</expression>
<expression>
<term>
<identifier>
<category> CLASS </category>
<name> Keyboard </name> 
</identifier>
<symbol> . </symbol>
<identifier>
<category> SUBROUTINE </category>
<name> readInt </name> 
 </identifier>
<expressionList>
<expression>
<term>
<stringConstant> ENTER THE NEXT NUMBER:  </stringConstant>
</term>
</expression>
</expressionList>
</term>
</expression>
</letStatement>
<letStatement>
<identifier>
<category> VAR </category>
<defined> used </defined>
<kind> VAR </kind>
<index> 2 </index>
<name> i </name> 
 </identifier>
<expression>
<term>
<identifier>
<category> VAR </category>
<defined> used </defined>
<kind> VAR </kind>
<index> 2 </index>
<name> i </name> 
</identifier>
</term>
<term>
<integerConstant> 1 </integerConstant>
</term>
</expression>
</letStatement>
</statements>
</whileStatement>
<letStatement>
<identifier>
<category> VAR </category>
<defined> used </defined>
<kind> VAR </kind>
<index> 2 </index>
<name> i </name> 
 </identifier>
<expression>
<term>
<integerConstant> 0 </integerConstant>
</term>
</expression>
</letStatement>
<letStatement>
<identifier>
<category> VAR </category>
<defined> used </defined>
<kind> VAR </kind>
<index> 3 </index>
<name> sum </name> 
 </identifier>
<expression>
<term>
<integerConstant> 0 </integerConstant>
</term>
</expression>
</letStatement>
<whileStatement>
<expression>
<term>
<identifier>
<category> VAR </category>
<defined> used </defined>
<kind> VAR </kind>
<index> 2 </index>
<name> i </name> 
</identifier>
</term>
<term>
<identifier>
<category> VAR </category>
<defined> used </defined>
<kind> VAR </kind>
<index> 1 </index>
<name> length </name> 
</identifier>
</term>
</expression>
<statements>
<letStatement>
<identifier>
<category> VAR </category>
<defined> used </defined>
<kind> VAR </kind>
<index> 3 </index>
<name> sum </name> 
 </identifier>
<expression>
<term>
<identifier>
<category> VAR </category>
<defined> used </defined>
<kind> VAR </kind>
<index> 3 </index>
<name> sum </name> 
</identifier>
</term>
<term>
<identifier>
<category> VAR </category>
<defined> used </defined>
<kind> VAR </kind>
<index> 0 </index>
<name> a </name> 
</identifier>
<symbol> [ </symbol>
<expression>
<term>
<identifier>
<category> VAR </category>
<defined> used </defined>
<kind> VAR </kind>
<index> 2 </index>
<name> i </name> 
</identifier>
</term>
</expression>
</term>
</expression>
</letStatement>
<letStatement>
<identifier>
<category> VAR </category>
<defined> used </defined>
<kind> VAR </kind>
<index> 2 </index>
<name> i </name> 
 </identifier>
<expression>
<term>
<identifier>
<category> VAR </category>
<defined> used </defined>
<kind> VAR </kind>
<index> 2 </index>
<name> i </name> 
</identifier>
</term>
<term>
<integerConstant> 1 </integerConstant>
</term>
</expression>
</letStatement>
</statements>
</whileStatement>
<doStatement>
<identifier>
<category> CLASS </category>
<name> Output </name> 
 </identifier>
<identifier>
<category> SUBROUTINE </category>
<name> printString </name> 
 </identifier>
<expressionList>
<expression>
<term>
<stringConstant> THE AVERAGE IS:  </stringConstant>
</term>
</expression>
</expressionList>
</doStatement>
<doStatement>
<identifier>
<category> CLASS </category>
<name> Output </name> 
 </identifier>
<identifier>
<category> SUBROUTINE </category>
<name> printInt </name> 
 </identifier>
<expressionList>
<expression>
<term>
<identifier>
<category> VAR </category>
<defined> used </defined>
<kind> VAR </kind>
<index> 3 </index>
<name> sum </name> 
</identifier>
</term>
<term>
<identifier>
<category> VAR </category>
<defined> used </defined>
<kind> VAR </kind>
<index> 1 </index>
<name> length </name> 
</identifier>
</term>
</expression>
</expressionList>
</doStatement>
<doStatement>
<identifier>
<category> CLASS </category>
<name> Output </name> 
 </identifier>
<identifier>
<category> SUBROUTINE </category>
<name> println </name> 
 </identifier>
<expressionList>
</expressionList>
</doStatement>
<returnStatement>
</returnStatement>
</statements>
</subroutineBody>
</subroutineDec>
</class>
